<footer class="footer bg-dark py-3 mt-auto">
    <div class="container d-flex justify-content-evenly">
      <span class="text-muted">By Abdel Rahman Alnajjar</span>
      <span class="text-muted">&copyExpenses Management System 2025</span>
    </div>
  </footer>