<% layout("layouts/boilerplate")%>
<link rel="stylesheet" href="/stylesheets/home.css">

<div class="heading">
  <h1>Expenses Management System</h1>
  <img src="https://plus.unsplash.com/premium_photo-1681487769650-a0c3fbaed85a?q=80&w=2155&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">


</div>

<div class="content">
  <h2>OUR SERVICES</h2>
  <ul class="services">
    <li><a href="/items/new">Cost of Making</a></li>
    <li><a href="/services/cost_per_pound">Find Cost Per Pound ($/LB)</a></li>
    <li><a href="/services/compare_two_products">Compare Two Products</a></li>
    <li><a href="/services/wheatgrass_seeds_needed">Wheatgrass Seeds Needed</a></li>
  </ul>


  <% if(currentUser) {%>
    <ul class="services">
      <li><a href="/items">All Items</a></li>
      <li><a href="/items/new">Add new item</a></li>
      <li><a href="/ingredients">All Ingredients</a></li>
      <li><a href="/ingredients/new">Add Ingredient</a></li>

      <li class="nav-item">
            <form action="/items/update" method="POST">
              <button class="btn btn-outline-info">Update Costs</button>
            </form>
      </li>
      
    </ul>
  <% } %>
</div>



