<% layout("layouts/boilerplate")%>

<div class="d-flex justify-content-center mt-5">
    <div class="col-sm-2 mb-5">
        <div class="card dark_mode_black dark_mode_roundness_index" style="width: 400px;">
            <img src="https://images.unsplash.com/photo-1586356864805-2956a8798a07?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="card-img-top dark_mode_roundness_index" style="width: 398px; height: 398px;object-fit: cover">
            <div class="card-body">
                <h5 class="card-title">Login</h5>
        
                <form action="/login" method="POST" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>

                    <div class="card-body">
                        <h6>Don't have an account? <a href="/signup" class="card-link link-success">Sign Up now!</a></h6>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success">Login</button>
                    </div>
                    
                </form>

            </div>
        </div>
    </div>
</div>